<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40">
        <mat-card *ngIf="mydish">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{mydish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{mydish.image}} alt={{mydish.name}}>
            <mat-card-content>
                <p>{{mydish.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="40">


        <mat-list *ngIf="mydish">
            <h3>Comments</h3>
            <mat-list-item *ngFor="let com of mydish.comments">
                <h4 matLine>{{com.comment}}</h4>
                <p matLine>Stars : {{com.rating}}</p>
                <p matLine>
                    -- {{com.author}} {{com.date | date}}</p>
            </mat-list-item>
        </mat-list>
    </div>

</div>